// Text Color
$text-color: #fff;

//Background
// $bg-color: rgb(114, 114, 114);

//Colors

$icons-color: #C0B5B5;
$title-color: #04D9AB;
$title-color-hover: #009b79;
$btn-color: rgb(80, 80, 80);
$background-color: #1D1D1D;
$scroll-bar-color: #4b4b4b;

// Font 